{#
/**
 * @file
 * Theme implementation for card view mode of scholarly work node.
 *
 * This template displays a minimal card suitable for featured/recent works sections.
 *
 * @see template_preprocess_node()
 */
#}
<article{{ attributes }} class="scholarly-work-card">
  <div{{ content_attributes }} class="scholarly-work-card__content">
    {{ content }}
  </div>
</article>
