{#
/**
 * @file
 * Theme implementation for item view mode of scholarly work node.
 *
 * This template displays essential information for inline lists.
 *
 * @see template_preprocess_node()
 */
#}
<article{{ attributes }} class="scholarly-work-item">
  <div{{ content_attributes }} class="scholarly-work-item__content">
    {{ content }}
  </div>
</article>
